{% extends "layout.html" %}

{% block title %}
    Your history
{% endblock %}

{% block main %}
<h1>Transaction logs</h1>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Date of transaction</th>
    </tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row['symbol'] }}</td>
            <td>
                <span class="{% if row['shares'] < 0 %}text-danger{% else %}text-success{% endif %}">
                    <strong>{{ row['shares'] }}</strong>
                </span>
            </td>
            <td>{{ row['price'] }}</td>
            <td>{{ row['date'] }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">You don't have any transaction logs.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
